<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>TagalIcious</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
  <link rel="stylesheet" type="text/css" href="style.css"></link>
  <script src="app.js"></script>
</head>

<body ng-app="app" ng-controller="AppCtrl">
  <div class="container">
    <div class="jumbotron">
      <div class="title">
      <h1>TagalIcious! (admin)</h1>
      </div>
      <div>
        <h4>Want to apply some tags? <a href="/index">Home</a></h4>
      </div>
    </div>

    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Styles Applied</th>
          <th>Kill</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="tag in tags">
          <td>{{tag.tagName}}</td>
          <td>{{totalTagCount(tag)}}</td>
          <td>
            <button class="btn btn-danger" ng-click="killTag(tag)">Kill</button>
          </td>
        </tr>
      </tbody>
  </table>


  <div class="col-md-4" id="add-tag">
    <h3>Add New Tag</h3>
    <form class="input-group">
      <input type="text" class="form-control" placeholder="New Tag..." ng-model="newTagName">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" ng-click="createTag()">Add</button>
      </span>
    </form><!-- /input-group -->
  </div><!-- /.col-lg-6 -->


</div>
</body>